html, body{
    background-color: $body-bg;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.fixed{
    position: fixed;
}
.page-container{
    margin-top: $baseline-grid * 8;
}
.md-bowyer-theme.md-unselected{
    color:#ffffff !important;
    font-weight: bold;
}
.md-bowyer-theme.md-button{
    font-weight: bold;
}