<head>
    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="app">
    <div ng-controller="AppCtrl as appCtrl" ng-cloak>
        <div layout="column">
            <md-toolbar md-whiteframe="2" md-theme="inverse" class="md-primary md-hue-1 fixed">
                <div class="md-toolbar-tools">
                    <logo></logo>
                    <!-- fill up the space between left and right area -->
                    <span flex></span>
                    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                        <md-nav-item md-nav-href="https://github.com/colorgap/firebowyer" name="github">Github</md-nav-item>
                        <md-nav-item md-nav-click="goto('page2')" name="signin">Sign In</md-nav-item>
                        <md-nav-item md-nav-click="goto('page3')" name="signup">Sign Up</md-nav-item>
                    </md-nav-bar>
                </div>
            </md-toolbar>
            <md-content class="page-container md-shadow-bottom-z-1 bold" md-colors="::{background: 'bowyer-primary-500',color: 'primary-50'}">
                <h3 class="md-padding bold">
                    FIRE BOWYER
                </h3>
                <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                    <md-nav-item md-nav-click="goto('page3')" class="text-white" name="page6">Getting Started</md-nav-item>
                </md-nav-bar>
            </md-content>
        </div>
    </div>
</body>