<div layout="column">
    <md-toolbar md-whiteframe="2" md-theme="inverse" class="md-primary md-hue-1 fixed">
        <div class="md-toolbar-tools">
            <logo></logo>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-href="https://github.com/colorgap/firebrush" name="github">Github</md-nav-item>
                <md-nav-item ng-if="!home.user" md-nav-click="goto('page2')" ui-sref="login" name="signin">Sign In</md-nav-item>
                <md-nav-item ng-if="!home.user" md-nav-click="goto('page3')" ui-sref="register" name="signup">Sign Up</md-nav-item>
                <md-nav-item ng-if="home.user" md-nav-click="goto('page3')" ui-sref="dashboard" name="signup">Dashboard</md-nav-item>
            </md-nav-bar>
        </div>
    </md-toolbar>
    <md-content class="page-container md-shadow-bottom-z-1 bold" md-colors="::{background: 'brush-primary-500',color: 'primary-50'}">
        <h3 class="md-padding bold">
            Fire Brush
        </h3>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('page3')" class="text-white" name="page6">Getting Started</md-nav-item>
        </md-nav-bar>
    </md-content>
</div>